#quiz {
    color: white;
    font-family: 'Bebas Neue', cursive;
}

#start-button {
    border: 1px solid black;
    padding-bottom: 10px;
    width: 200px;
    height: 60px;
    font-size: 30px;
}

#button-holder {
    display: block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#timer-bar {
    background-color: purple;
    font-family: serif;
    font-size: 24px;
    color: white;
    border-bottom: 2px solid black;
}

h1,h4,h5,form, #finalscore-container {
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
}

table,tr,th,td {
    border: 3px solid black;
    text-align: center;
}

table {
    width: 50%;
    margin: 0 auto;
}

th {
    color: white;
    background-color: purple;
    font-weight: bolder;
}

.quiz-spacing {
    border: 2px solid black;
    margin: 1px;
    padding: 5px;
    background-color: purple;
    font-size: 20px;
}

